.Container {
    background-color: blueviolet;
    width: 480px;
    border-radius: 15px;
    margin-left: 200px;
    height: 400px;
    background-image: url(baground.jpg);
    background-size: cover;
    background-repeat:no-repeat;

}
.image1 {
    height: 50px;
    width: 60px;
    margin-left: 20px;
}

.image2 {
    height: 120px;
    width: 160px;
    margin-left: 290px;
    margin-top: -100px;
   
}

.titre {
    color: aliceblue;
    margin-left: 300px;
}

.code {
    text-align: center;
    color: goldenrod;
}

.holder {
    color: aliceblue;
    margin-left: 20px;
}

.valid {
    color: aliceblue;
    margin-left: 20px;
}

.id {
    color: aliceblue;
    margin-left: 20px;
}
.inputs {
    margin-left: 500px;
    margin-top: -200px;
}